/* Font */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Variables */
:root {
  font-family: 'Kumbh Sans', serif;
}

/* Custom styles */
* {
  padding: 0;
  box-sizing: border-box;
  margin: 17px 15px 0px 15px;
}

/* Body styles */
body {
  background-color: #fff3fd;
}
